[Container]
ContainerName=hbbs
AutoUpdate=registry

Image=ghcr.io/rustdesk/rustdesk-server:latest
Exec=hbbs
Volume=/srv/containers/rustdesk-server/data:/root

Network=host
PublishPort=21114:21114
PublishPort=21115:21115
PublishPort=21116:21116
PublishPort=21116:21116/udp
PublishPort=21118:21118

Environment="ENCRYPTED_ONLY=1"
Environment="RELAY=127.0.0.1:21117"

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Unit]
Description=Rustdesk HBBS cotnainer
After=local-fs.target

