[Unit]
Description=Rustdesk HBBS cotnainer
After=local-fs.target

[Container]
AutoUpdate=registry
Image=ghcr.io/rustdesk/rustdesk-server:latest
ContainerName=hbbs
PublishPort=21115:21115
PublishPort=21116:21116
PublishPort=21116:21116/udp
PublishPort=21118:21118
Volume=rustdesk-hbbs.volume:/root
Exec=hbbs

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
